<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
Layout:decorate="TemplateHospital"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.1/css/bootstrap.min.css">
</head>
<body>
<div Layout:fragment="content1">
<div class="container mt-2">
    <div class="card">
        <div class="card-header">Liste des patients</div>
        <div class="card-body">
            <form method="get" th:action="@{index}">
            <label>Keyword</label>
            <input type="text" name="Keyword" th:value="${Keyword}">
            <button type="submit" class="btn btn-primary">Chercher</button>
                <div class="form-text">
                Filtrer en utilisant le champ Nom.
            </div>
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th><th>Nom</th><th>DateNaissance</th><th>Malade</th><th>Score</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="patient:${ListPatients}">
                    <td th:text="${patient.id}"></td>
                    <td th:text="${patient.name}"></td>
                    <td th:text="${patient.dateNaissance}"></td>
                    <td th:text="${patient.isSick}"></td>
                    <td th:text="${patient.score}"></td>
                    <td>
                        <a onclick="return confirm('Confirmez vous la suppression de lélément sélectionné?')" class="btn btn-danger" th:href="@{delete(id=${patient.id}, Keyword=${Keyword}, page=${currentPage})}">
                            Supprimer
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

            <ul class="nav nav-pills">
                <li th:each="page,status:${pages}">
                <a th:class="${status.index==currentPage?'btn btn-primary ms-1':'btn btn-outline-primary ms-1'}"
                   th:text="${status.index}"
                   th:href="@{index(page=${status.index},Keyword=${Keyword})}"
                ></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
</body>
</html>